.page {

    padding: 100px 30px 60px;
    background-image: url('../../assets/images/circle-bg-green.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.head {

    margin: 120px 0 0;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.pageTitle {

    font-size: var(--fsize5);
    color: var(--c1);
    margin-bottom: 40px;
}

.picture {
    max-width: 60vw;
}

.textArea {
    max-width: 400px;
}

.textArea p {

    margin-bottom: 30px;
    font-size: 14px;
    opacity: .8;
}

.textArea p:last-of-type {
    opacity: .7;
    margin-bottom: 60px;
}


/* Responsive */
@media(max-width: 1200px) {

    .picture {
        max-width: 50vw;
    }
}

@media(max-width: 890px) {

    .page {
        background-position: top;
        background-size: contain;
    }

    .head {
        flex-direction: column;
    }

    .textArea {

        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .picture {
        max-width: none;
    }
}
