.projects {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

/* Responsive */
@media (max-width: 1100px) {

   .projects {
        grid-template-columns: 1fr 1fr;
   }
}

@media (max-width: 700px) {

    .projects {
         grid-template-columns: 1fr;
    }
}
