.section {

    padding: 1px 0 90px;
    background-color: var(--c1);
    overflow: hidden;
}

.slider {

    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    touch-action: none; 
}

.list {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;
    will-change: transform;
    user-select: none;
    width: fit-content;
}

.list li {

    transition: all .4s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    flex-shrink: 0; 
}

.list li img {

    width: 50px;
    height: 50px;
    object-fit: contain;
    display: block;
    pointer-events: none;
}

.stackName {

    color: var(--c8);
    text-align: center;
    font-size: var(--fsize2);
    transition: all .4s ease;
    margin-top: 15px;
}

.soft {

    color: var(--c8);
    margin-top: 60px;
    gap: 100px;
}

.soft li {

    background-color: var(--c7);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    width: 220px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillsButtonArea button {
    margin: 120px auto 0 !important;
}


/* Responsive */
@media (max-width: 700px) {

    .section {
        padding-bottom: 60px;
    }

    .list {
        gap: 80px;
    }
    
    .list li img {
        width: 50px;
        display: block;
    }

    .soft {
        gap: 40px;
        margin-top: 40px;
    }

    .soft li {
        
        font-size: var(--fsize2);
        width: 170px;
        height: 60px;
    }    
}
