.section {
    padding: 1px 0 90px;
}

.timelineWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.timelineWrapper li:nth-child(odd) {
    grid-column: 1 / 2;
}
  
.timelineWrapper li:nth-child(even) {
    grid-column: 1 / 3;
}

/* Responsive */
@media (max-width: 700px) {

    .section {
        padding-bottom: 60px;
    }

    .timelineWrapper {
        display: block;
    }
}
