.btn1 {

    border: 0;
    border-radius: 30px;
    padding: 12px 20px;
    background-color: var(--c2);
    color: var(--c9);
    text-transform: uppercase;
    font-size: var(--fsize3);
    font-family: "JetBrains Mono", monospace;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all .4s ease;
    margin: 0;
}

.btn1:hover {
    background-color: var(--c1);
}

.btn1 img {
    transition: all .4s ease-in-out;
}

.btn1:hover img {
    transform: translateX(5px);
}

@media (max-width: 400px) {

    .btn1 {
        font-size: var(--fsize2);
    }
}