.section {
    
    padding: 1px 0 90px;
    background-image: url('../../../../assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.listWrapper {

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.listWrapper li {
    max-width: 800px;
}
