.logo {

    text-transform: uppercase;
    font-weight: 600;
    line-height: 0;
    font-size: 14px;
    color: var(--c1);
}

.white {
    color: #FFF;
}

.dot {

    display: inline-block;
    margin: 0 2px;
    font-size: 44px;
    font-size: 32px;
    font-weight: 700;
    transition: all .4s ease-in;
}

.logo:hover .dot {
    color: var(--c4);
    transform: translateY(-2px);
}
