.logo {

    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: var(--c1);
}

.white {
    color: #FFF;
}

.dot {

    display: inline-block;
    margin: 0 2px 14px;
    font-size: 44px;
    font-size: 32px;
    font-weight: 900;
    transition: all .4s ease-in;
}

.logo:hover .dot {
    color: var(--c4);
    transform: translateY(-2px);
}
