.logo {

    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    /* font-weight: 700; */
    font-size: var(--fsize3);
    color: var(--c1);
}

.white {
    color: #FFF;
}

.dot {

    display: inline-block;
    margin-bottom: 14px;
    font-size: 30px;
    font-weight: 900;
    transition: all .4s ease-in;
}

.logo:hover .dot {
    color: var(--c4);
    transform: translateY(-3px);
}
