.locatedBox {

    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: var(--g1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    transition: all .6s ease-in-out;
    align-self: flex-end;
}

.locatedBox img {
    width: 28px;
    animation: upDown 2s infinite ease-in-out;
}

.locatedBox:hover {

    width: 240px;
    height: 55px;
    justify-content: space-around;
}

.locatedBox:hover * {
    animation: opacityUp 1s ease-in;
}

.locatedBox:hover img {
    animation: opacityUp 1s ease-in;
}

.locatedAt {

    opacity: .5 !important;
    font-size: var(--fsize2);
    margin-bottom: 4px;
    font-style: italic;
}

@keyframes upDown {

    0% {
        transform: translateY(-2px);
    }

    50% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(-2px);
    }
}

@keyframes opacityUp {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Responsive */
@media (max-width: 550px) {

    .locatedBox {
        width: 100%;
        height: 55px;
        justify-content: space-around;
        padding: 8px;
    }

    .locatedBox:hover {
        width: 100%;
    }

    .locatedBox img {
        width: 24px;
        animation: none;
    }
    
    .locatedBox:hover * {
        animation: none
    }
    
    .locatedBox:hover img {
        animation: none
    }
}

@media (max-width: 470px) {

    .locatedBox img {
        display: none;
    }

    .locatedBox {

        width: fit-content;
        margin: 0 auto;
        padding: 12px 16px;
    }

    .locatedBox:hover {
        width: fit-content;
    }
}
