.page {

    padding: 100px 30px 60px;
    background: #D8F3DC;
    background: linear-gradient(90deg, rgba(238, 238, 238, 1) 0%, rgba(216, 243, 220, 1) 99%);
}

.title {

    margin: 120px auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pageTitle {
    font-size: var(--fsize8);
    color: var(--c1);
}

.projectNumber {

    padding: 12px 16px;
    background-color: var(--c9);
    border-radius: 30px;
    color: var(--c2);
    font-size: var(--fsize2);
    font-family: var(--);
}
