.section {

    padding-top: var(--header-height);
    background: rgb(216,243,220);
    background: linear-gradient(183deg, rgba(216,243,220,1) 2%, rgba(255,255,255,1) 55%);
    height: 90vh;
}

.headContent {

    padding-top: 80px;
    height: 100%;
}

.introText {
    max-width: 60%;
}

.name {

    font-size: var(--fsize3);
    color: var(--g5);
    margin-bottom: 16px;
}

.work {

    font-size: var(--fsize8);
    color: var(--c1);
    font-weight: 900;
    margin-bottom: 16px;
}

.work span {
    display: block;
    line-height: 75px;
}

.fullStack {

    background-color: var(--c2);
    padding: 8px;
    border-radius: 4px;
    width: fit-content;
    color: var(--c9);
    margin-bottom: 8px;
}

.and {
    display: inline-block;
    color: var(--e1);
}

.aboutText {
    font-size: var(--fsize3);
    color: var(--g4);
    line-height: 22px;
}
