.section {

    padding-top: var(--header-height);
    background: rgb(216,243,220);
    background: linear-gradient(183deg, rgba(216,243,220,1) 2%, rgba(255,255,255,1) 55%);
    height: 750px;
    background-attachment: fixed;
}

.headContent {

    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url('../../../../assets/images/stack-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.introText {
    max-width: 60%;
}

.name {

    font-size: var(--fsize3);
    color: var(--g5);
    margin-bottom: 16px;
}

.work {

    font-size: var(--fsize8);
    color: var(--c1);
    font-weight: 900;
    margin-bottom: 16px;
}

.work span {
    display: block;
    line-height: 75px;
}

.fullStack {

    background-color: var(--c2);
    padding: 8px;
    border-radius: 4px;
    width: fit-content;
    color: var(--c9);
    margin-bottom: 8px;
}

.and {
    display: inline-block;
    color: var(--e1);
}

.aboutText {

    font-size: var(--fsize3);
    color: var(--g4);
    line-height: 22px;
}

.btnArea {
    margin: 60px 0;
}

.asideInfosBox {

    position: absolute;
    right: 20px;
    top: calc((750px / 2) - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 50px;
}

/* Responsive */
@media (max-width: 1190px) {
    
    .work {    
        font-size: var(--fsize7);
    }

    .aboutText {
        font-size: 14px;
    }
}

@media (max-width: 920px) {

    .work {    
        font-size: var(--fsize6);
        margin-bottom: 8px;
    }

    .fullStack {
        margin-bottom: 0px;
        padding: 4px;
    }

    .headContent {
        background-position: right;
    }
}

@media (max-width: 770px) {

    .headContent {
        background-image: none;
        padding-top: 20px;
    }

    .introText {
        max-width: 600px;
        margin: 0 auto;
    }

    .aboutText {
        max-width: 400px;
    }

    .name {
        margin-bottom: 12px;
    }

    .aboutText {
        font-size: var(--fsize2);
    }

    .btnArea {
        max-width: 600px;
        margin: 60px auto;
    }
}

@media (max-width: 550px) {

    .headContent {
        padding-left: 20px;
        padding-right: 20px;
    }

    .introText {
        max-width: none;
        width: 100%;
    }

    .asideInfosBox {

        position: initial;
        flex-direction: row;
        max-width: none;
    }
}

@media (max-width: 420px) {

    .asideInfosBox {
        flex-direction: column;
    }

    .work {
        font-size: var(--fsize5);
    }
    
    .btnArea button {

        margin: 0 auto;
        width: 100%;
        max-width: 260px;
    }
}
