.project {

    border-radius: 4px;
    cursor: pointer;
    transition: all .6s ease-in-out;
    position: relative;
    background-color: var(--g10);
}

.project:hover {
    background-color: var(--g9);
}

.img {

    width: 100%;
    transition: all .6s ease-in-out;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.project:hover img {

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transform: scale(1.04);
}

.circle {

    position: absolute;
    width: 70px;
    height: 70px;
    background-color: var(--c1);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-20%, -65%);
    opacity: .85;
    transition: all .15s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--c9);
    font-size: var(--fsize2);
}

.content {
    padding: 20px;

}

.content h3 {

    font-weight: 700;
    color: var(--c1);
    font-size: var(--fsize7);
}

.stack {

    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.stack img {
    width: 24px;
}

.stackPlus {

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--g8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fsize2);
}

@media (max-width: 1100px) {

    .content h3 {
        font-size: var(--fsize6);
    }
}

@media (max-width: 800px) {

    .content h3 {
        font-size: var(--fsize5);
    }
}
