.section {

    background-color: var(--c9);
    background-image: url('../../../../assets/images/circle-bg-white.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.content {

    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;
}

.phrase {

    font-size: var(--fsize5);
    line-height: 40px;
    font-style: italic;
    margin-bottom: 60px;
}

.picture {
    
   max-width: 600px;
   transform: scaleX(-1);
   margin-right: -70px;
}

@media (max-width: 1120px) {

    .picture {
        max-width: 400px;
    }

    .phrase {
        font-size: var(--fsize4);
    }
}

@media (max-width: 910px) {

    .phrase {
        margin-bottom: 30px;
    }
}

@media (max-width: 820px) {

    .content {
        
        flex-direction: column;
        gap: 60px;
        padding-bottom: 0;
    }
}

@media (max-width: 500px) {

    .phrase {
        text-align: center;
    }

    button {
        margin: 0 auto !important;
    }
}
