.page {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 16px;
}

.error {
    font-size: var(--fsize10);
    color: var(--c2);
}

.notFound {

    color: var(--c3);
    margin-bottom: 100px;
    text-align: center;
}
