:root {

    /* Enphasis Colors */
    --c1: #081c15;
    --c2: #1b4332;
    --c3: #2d6a4f;
    --c4: #40916c;
    --c5: #52b788;
    --c6: #74c69d;
    --c7: #95d5b2;
    --c8: #b7e4c7;
    --c9: #d8f3dc;
    --e1: #E9762B;

    /* Gray Colors */
    --g1: #1c1d20;
    --g2: #212529;
    --g3: #343a40;
    --g4: #495057;
    --g5: #6c757d;
    --g6: #adb5bd;
    --g7: #ced4da;
    --g8: #dee2e6;
    --g9: #e9ecef;
    --g10: #f8f9fa;

    /* Font Sizes */
    --fsize1: 9px;
    --fsize2: 12px;
    --fsize3: 16px;
    --fsize4: 21px;
    --fsize5: 28px;
    --fsize6: 38px;
    --fsize7: 50px;
    --fsize8: 68px;
    --fsize9: 90px;
    --fsize10: 160px;

    /* General Sizes */
    --header-height: 115px;
    --page-container: 1400px;
}

html {
    scroll-behavior: smooth;
}

body {

    font-family: "Lato", sans-serif;
    color: #111;
    overflow-x: hidden;
}

a {
    color: #111;
}

p {
    font-size: var(--fsize3);
}

/* Scroll Bar */
*::-webkit-scrollbar {
    width: 8px;
    border-radius: 5px;
    background-color: #CCCCCC;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;;
    background-color: #AAAAAA;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #999999;
}

/* General App Classes */
.container {

    width: 100%;
    max-width: var(--page-container);
    margin: 0 auto;
    padding: 0 30px;
}

.code {
    font-family: "JetBrains Mono", monospace;
    font-weight: 400;
}
